:root {
    --rosy-copper: #D05E52;
    --dusty-rose: #CB8380;
    --strong-cyan: #4DD0E1;
    --pacific-cyan: #018F9D;
    --mauve-bark: #6D5148;

    --primary-bg: #FFF9F7;
    --primary-text: #382E2B;
    --standard-gap: 24px;
}