@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;600;700&display=swap');

:root {
    --rosy-copper: #D05E52;
    --dusty-rose: #CB8380;
    --strong-cyan: #4DD0E1;
    --pacific-cyan: #018F9D;
    --mauve-bark: #6D5148;

    --primary-bg: #FFF9F7;
    --primary-text: #382E2B;
    --standard-gap: 24px;
}

body {
    font-family: 'DM Sans', sans-serif;
    background-color: var(--primary-bg);
    color: var(--primary-text);
    margin: 0;
    padding: 20px;
}

#projects article {
    margin: var(--standard-gap);
}

nav {
    background: yellow;
}

h1 {
    font-size: 2rem;
    font-weight: 700;
    line-height: 1.4;
    text-align: center;
    color: var(--mauve-bark);
}

h2 {
    font-size: 1.75rem;
    font-weight: 700;
    color: var(--rosy-copper);
    margin-bottom: 12px;
}

h3 {
    font-size: 1.4rem;
    font-weight: 600;
    color: var(--pacific-cyan);
}